html,body,header{
    height: 150vh;
    font-family: 'sweet sans', monospace;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.wrapper .multi_color_border{
    width: 100%;
    height: 5px;
    background: red;
}

.wrapper .top_nav{
    width: 100%;
    height: 85px;
    background: #000000;
    padding: 10px 45%;
    justify-content: space-between;
}

.wrapper .top_nav .left{
    display: flex;
    align-items: center;
}

.wrapper .top_nav .left .logo p{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin-right: 25px;
}

.wrapper .top_nav .left p span{
    color: rgb(255, 255, 255);
}

.wrapper .bottom_nav{
    width: 100%;
    background-color: black;
    height: 45px;
    padding: 0 500px;
}

.wrapper .bottom_nav ul {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
}

.wrapper .bottom_nav ul li a{
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

.bottom_nav ul li a:hover{
    color: rgb(255, 186, 95);
    transition: color 0.3s ease-in-out;
}

.wrapper .banner{
    width: 100%;
    height: 400px;
}

h1 {
    display: flex;
    border-bottom: 2px solid rgb(33, 33, 33);
}

.img_box{
    height: 400px;
    width: 25%;
    background-color: aqua;
    font-size: 40pt;
    overflow: hidden;
}

.img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discription{
    height: 400px;
    width: 75%;
    background-color: rgb(0, 0, 0);
    font-size: 40pt;
}

.discription .head {
    padding-top: 15px;
    padding-left: 40px;
    font-weight: 600;
    background: #0a0a0a76;
    color: white;
    font-size: 60px;
}

.discription .text {
    padding-top: 5px;
    padding-left: 40px;
    max-width: 100%;
    overflow: hidden;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
}

h2{
    display: flex;
    border-bottom: 2px solid rgb(33, 33, 33);
}

.img_box2{
    height: 400px;
    width: 25%;
    font-size: 40pt;
    overflow: hidden;
}

.img_box2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.discription2{
    height: 400px;
    width: 75%;
    background-color: rgb(0, 0, 0);
    font-size: 40pt;
}

.discription2 .head1 {
    padding-top: 15px;
    padding-left: 40px;
    font-weight: 600;
    background: #0a0a0a76;
    color: white;
    font-size: 60px;
}

.discription2 .text1 {
    padding-top: 5px;
    padding-left: 40px;
    max-width: 100%;
    overflow: hidden;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
}

h3{
    display: flex;
    border-bottom: 2px solid rgb(33, 33, 33);
}

.img_box3{
    height: 400px;
    width: 25%;
    background-color: rgb(232, 29, 221);
    font-size: 40pt;
    overflow: hidden;
}

.img_box3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.discription3{
    height: 400px;
    width: 75%;
    background-color: rgb(0, 0, 0);
    font-size: 40pt;
}

.discription3 .head2 {
    padding-top: 15px;
    padding-left: 40px;
    font-weight: 600;
    background: #0a0a0a76;
    color: white;
    font-size: 60px;
}

.discription3 .text2 {
    padding-top: 5px;
    padding-left: 40px;
    max-width: 100%;
    overflow: hidden;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
}

h4{
    display: flex;
    border-bottom: 2px solid rgb(33, 33, 33);
}

.img_box4{
    height: 400px;
    width: 25%;
    background-color: rgb(193, 27, 52);
    font-size: 40pt;
    overflow: hidden;
}

.img_box4 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.discription4{
    height: 400px;
    width: 75%;
    background-color: rgb(0, 0, 0);
    font-size: 40pt;
}

.discription4 .head3 {
    padding-top: 15px;
    padding-left: 40px;
    font-weight: 600;
    background: #0a0a0a76;
    color: white;
    font-size: 60px;
}

.discription4 .text3 {
    padding-top: 5px;
    padding-left: 40px;
    max-width: 100%;
    overflow: hidden;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
}

h5{
    display: flex;
    flex-wrap: wrap;
    border-top: 3px solid white;
}

.foot1{
    height: 333px;
    width: 33.333%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.foot1 .Newsletter{
    font-size: 25px;
    padding-top: 13%;
    padding-left: 15%;
    color: rgb(255, 255, 255);
}

.foot1 .Ncontent{
    font-size: 17px;
    padding-top: 9px;
    padding-bottom: 5%;
    padding-left: 15%;
    color: rgb(118, 118, 118);
}

.foot1 .Email{
    font-size: 17px;
    text-decoration: underline white;
    padding-left: 15%;
    color: rgb(118, 118, 118);
}

.foot1 .button3{
    text-align: center;
    font-size: 17px;
    color: rgb(118, 118, 118);
    padding-top: 5%;
    text-decoration: underline white;
}

.foot2{
    height: 333px;
    width: 33.333%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.foot2 img{
    height: 40%;
    width: 40%;
}

.foot2 .cookies{
    text-align: center;
    font-size: 15px;
    color: rgb(118, 118, 118);
}

.foot3{
    height: 333px;
    width: 33.333%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.foot3 .Socials{
    font-size: 25px;
    padding-top: 20%;
    padding-left: 15%;
    color: white;
}

h6 {
    display: flex;
}

.copyright{
    height: 40px;
    width: 100%;
    background-color: rgb(53, 53, 53);
    font-size: 13pt;
    font-weight: 400;
    color: rgb(132, 132, 132);
    text-align: center;
    padding-top: 10px;
}